@{
    ViewData["Title"] = "Menu";
}

@section Presentation
{
    <div id="presentation">
        <p>Кофейня CoffeLike</p>
    </div>
}

<main>
    <div class="bg_blue">
        <div class="white_wrapper">
            <h1>Наше меню</h1>
            <table>
                <tr class="table_header">
                    <td colspan="2">Завтрак</td>
                </tr>
                <tr>
                    <td>Круассан с ветчиной</td>
                    <td>140 руб.</td>
                </tr>
                <tr>
                    <td>Круассан с лососем</td>
                    <td>200 руб.</td>
                </tr>
                <tr class="table_header">
                    <td colspan="2">Обед</td>
                </tr>
                <tr>
                    <td>Клаб-сендвич</td>
                    <td>380 руб.</td>
                </tr>
                <tr>
                    <td>Мистер-бургер</td>
                    <td>450 руб.</td>
                </tr>
                <tr class="table_header">
                    <td colspan="2">Ужин</td>
                </tr>
                <tr>
                    <td>Вафельный сендвич</td>
                    <td>500 руб.</td>
                </tr>
                <tr>
                    <td>Большой сендвич с говядиной</td>
                    <td>550 руб.</td>
                </tr>
            </table>

        </div>
    </div>
</main>