<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" asp-href-include="~/css/style.css">
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/bootstrap.css">
    @await RenderSectionAsync("Style", false)
</head>

<body>

<header>
    <nav>
        <ul id="menu">
            <li>
                <a asp-controller="Home" asp-action="Index">Главная</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="About">О нас</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Menu">Меню</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Products">Товары</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Reviews">Отзывы</a>
            </li>
            
            @if (!User.Identity.IsAuthenticated)
            {
                <li>
                    <a asp-controller="Account" asp-action="Registeration">Регистрация</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Login">Авторизация</a>
                </li>
                @if (User.IsInRole("Admins"))
                {
                    <li>
                        <a asp-controller="Product" asp-action="Catalog">Каталог</a>
                    </li>
                }
            }
            else
            {
                <form id="btnExit" asp-controller="Account" asp-action="Logout" method="post">
                    @User.Identity.Name
                    <button class="btn btn-dark ml-3">Выйти</button>
                </form>
            }
            
        </ul>
    </nav>
    @await RenderSectionAsync("Presentation", false)
</header>

@RenderBody()

</body>


<footer>
    <div>Copyright Salimov R. A.</div>
</footer>

</html>