@{
    ViewData["Title"] = "Home Page";
}

@section Presentation
{
    <div id="presentation">
        <p>Кофейня CoffeLike</p>
        <p>Приветствуем Вас в нашей кофейне CoffeLike</p>
    </div>
}

<main class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <img class="" src="~/images/about-us.jpg" alt="кофе в Перми"/>
        </div>
        <div style="background-color: #c3c3c3;" class="col p-0">
            <h2>О кофейне</h2>
            <p class="m-3">
                Coffee Like - место, где можно отвлечься от всего - с хорошим кофе, вкусной выпечкой и дружелюбным персоналом. Место, куда захочется возвращаться снова и снова
            </p>
            <p class="m-3">
                Нам важно, чтобы наш кофе был качественным и вкусным, поэтому мы закупаем только качественное сырье с оценками от 80 баллов SCA для коммерческих сортов и от 85 баллов для микролотов из стран Океании, Центральной и Южной Америки, Азии, Африки. В нашем интернет-магазине вы можете найти и купить кофе разных видов: арабику или робусту, колумбийский и вьетнамский кофе, кофе без кофеина и т.д.
            </p>
        </div>
    </div>
    <div class="row">
        <div style="background-color: #545252;" class="col p-0">
            <h2 style="color: #d4cecb;">О кофе</h2>
            <p class="m-3">
                В нашем магазине мы используем кофейную смесь Колумбия Ла Луна. Это смесь зерен 100% Арабики. Степень обжарки - средняя. А оборудование последнего поколения итальянской марки "La Marzocco" позволяет нам варить кофе высшего класса.
            </p>
        </div>
        <div class="col p-0">
            <img class="" src="~/images/coffee.jpg" alt="кофе в Перми"/>
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <img class="" src="~/images/tea.jpg" alt="чай в Перми"/>
        </div>
        <div style="background-color: #e8e8e8" class="col p-0">
            <h2>О чае</h2>
            <p class="m-3">
                Хороший чай уместен всегда и везде, в уединении он поможет собраться с мыслями и сконцентрироваться, придать ясность, в компании друзей поможет чувствовать себя непринуждённо, расслабленно. Каждый сорт чая создаёт своё уникальное ощущение пространства и время. Чай - отличная возможность встретиться всей семьёй за столом и поделиться новостями, а разнообразная и качественная посуда способна придать каждому чаепитию свою уникальность и создать неповторимую атмосферу.
            </p>
        </div>
    </div>
</main>