@model IEnumerable<ReviewWithUser>

@{
    ViewData["Title"] = "Reviews";
}

@section Presentation
{
    <div id="presentation">
        <p>Кофейня CoffeLike</p>
    </div>
}

 <main class="">
    <div class="bg_blue">
        <div class="row">
            <div class="col-md-8 white_wrapper">
                <h1>Отзывы</h1>

                <ul class="list-unstyled">
                    <li class="media">
                        <img src="~/images/user1.png" class="mr-3" alt="Фотография пользователя">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Ирина</h5>
                            <i>Кофе приходит в очень удобных, герметичных упаковках. Без сомнения в следующий раз закажу снова.</i>
                            <div><small>25.11.2018</small></div>
                        </div>
                    </li>

                    <li class="media my-4">
                        <img src="~/images/user2.png" class="mr-3" alt="Фотография пользователя">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Вячеслав</h5>
                            <i>
                                Доброго дня. Пользуясь магазином почти год.
                                Качество кофе -устраивает. Попробовал разные сорта.
                                Доволен обжаркой. Доставка и обслуживание в Киров - на высоте.
                                Надеюсь на дальнейшее сотрудничество.
                                Удачи. Любите кофе и жизнь.
                            </i>
                            <div><small>27.11.2018</small></div>
                        </div>
                    </li>
                    
                    @foreach (var review in Model)
                    {
                        <li class="media my-4">
                            <img src="~/images/user2.png" class="mr-3" alt="Фотография пользователя">
                            <div class="media-cody">
                                <h5 class="mt-0 mb-1">@review.UserName</h5>
                                <i>
                                    @review.Text
                                </i>
                                <div>
                                    <small>
                                        @review.DateTime.ToString()
                                    </small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Home" asp-action="AddReview" method="post">
                        <div class="form-group">
                            <label for="review"></label>
                            @Html.TextArea("review", new
                            {
                                @class="form-control",
                                placeholder="Напишите нам отзыв"
                            })
                        </div>
                        <button type="submit" class="btn btn-dark">Отправить</button>
                    </form>
                }
            </div>
        </div>
    </div>
 </main>